body {
    font-family: 'Bebas Neue', cursive;
    background: #CDA8F0;
}

#content {
    width: 600px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #FFFFFF;
    border: 5px solid #5d1e9c;
}

h1 {
	text-align: center;
    color: #5d1e9c;
}

p {
	color: #5d1e9c;
	font-weight: bold;
	text-align: center;
}

label {
    display: block;
    width: 20em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
    width: 75px;
    color: #5d1e9c;
}

#futureValue {
    color: #000000;
}

br {
    clear: left;
}